body {
  font-size: 20px;
  min-height: 100vh;
  margin: 0;

  display: grid;
  grid-template-columns: 300px 1fr;
}

main {
  display: grid;
  justify-items: center;
  padding: 30px;
}

aside {
  padding: 30px;
  background-color: #ddd;
}

.schulte-table {
  --table-size: 5;

  width: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;

  display: grid;
  grid-template: repeat(var(--table-size), 1fr) / repeat(var(--table-size), 1fr);
  gap: 5px;
}

.schulte-table__item {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #333;
}

@media print {
  @page {
    size: A4 landscape;
  }

  body {
    font-size: 16pt;
    grid-template-columns: 100%;
  }

  aside {
    display: none;
  }
}